<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单控件</title>
</head>
<body>
	link:	<a href="http://www.zouyesheng.com/angular.html#toc3">http://www.zouyesheng.com/angular.html#toc3</a>
	<h2>表单控件中相关的内容</h2>
	<form name="test_form" ng-controller="testCtrl">
		<input type="text" name="a" required ng-model="a" />
		<span ng-click="see()">{{test_form.$valid}}</span>
	</form>

	<script>
    var testCtrl=function($scope){

    	$scope.see=function(){
    		console.log($scope.test_form);
    		console.log($scope.test_form.a);
    	}
    }
	</script>
</body>
</html>